@media screen and (max-width:980px){
	.travel-information{
		padding: 0 20px;
	}
}
@media screen and (max-width:700px){
	.travel-information{
		.travel-route-data,
		.ticket-list-results{
			margin-bottom: 30px;
			width: 100%;
		}
	}
}
