$url-location:"../fonts";
/* Main COLORS */
$yellow-1: #f1b70e;
$yellow-2: #f1ca57;
$gray-1: #999;
$gray-2: #444;
$gray-3: #CCC;

$white-1: #FFF;
$white-2: #f5f5f5;


/* Non Common Colors*/
$yellow-dk-1: #997d2b;
$yellow-lh-1: #f4cd57; 